<script type="text/javascript">//<![CDATA[
	
	XHR.poll(15, '<%=luci.dispatcher.build_url("admin", "network", "modem", "get_modems")%>', null,
		function(x, data)
		{
			
			var modems=data["modems"];
			var modems_div=document.getElementById('modem_status_view');
			//clear modem_div
			while (modems_div.firstChild) {
				modems_div.removeChild(modems_div.firstChild);
			}
			//遍历每一个模组
			for (var modem_info of modems)
			{
				
				var modem_view = document.createElement('div');
				//遍历模组里面的信息
				for ( var entry of modem_info)
				{
					if (entry.key=="connect_status")
					{
						var state = '';
						var css = '';
						switch (entry.value)
						{
							case 'connect':
								state = '<%:Connected%>';
								css = 'success';
								break;
							case 'disconnect':
								state = '<%:Disconnected%>';
								css = 'danger';
								break;
							default:
								state = '<%:unknown%>';
								css = 'warning';
								break;
						}
						var div = document.createElement('div');
						var strong = document.createElement('strong');
						strong.innerHTML = state;
						div.appendChild(strong);
						modem_view.className = "alert-message " + css;
					}
					else if (entry.key=="name")
					{
						var div = document.createElement('div');
						var strong = document.createElement('strong');
						strong.innerHTML = entry.value.toUpperCase();
						div.appendChild(strong);
						modem_view.appendChild(div);
					}
					else
					{
						var div = document.createElement('div');
						var strong = document.createElement('strong');
						strong.innerHTML = entry.full_name+ ": "
						div.appendChild(strong);
						span = document.createElement('span');
						span.innerHTML = entry.value;
						div.appendChild(span);
					}
					modem_view.appendChild(div);
				}
				modems_div.appendChild(modem_view);
			}
		}
	);
//]]>
</script>

<style type="text/css">
	/* 加载中样式 */
	#modem_status_view img {
		vertical-align: middle;
	}

	#modem_status_view > div {
		display: inline-block;
		margin: 1rem;
		padding: 1rem;
		width: 16rem;
		float: left;
		line-height: 125%;
	}
</style>

<!-- 默认隐藏模块状态 -->
<fieldset id="modem_status_field" class="cbi-section">
	<!-- <legend><%:Modem Status%></legend> -->
	<h3><%:Modem Status%></h3>
	<div id="modem_status_view">

	</div>
</fieldset>
